#jinja2: trim_blocks: False
include "/etc/rndc.key";
{% set listen_v4 = [] %}
{% set listen_v6 = [] %}
{% set _ = (listen_v6 if api_address_family == 'ipv6' else listen_v4).append('api' | kolla_address) %}
{% if api_interface != dns_interface %}
{% set _ = (listen_v6 if dns_address_family == 'ipv6' else listen_v4).append('dns' | kolla_address) %}
{% endif %}
options {
        {% if listen_v4 %}
        listen-on port {{ designate_bind_port }} { {{ listen_v4 | join('; ') }}; };
        {% else %}
        listen-on { none; };
        {% endif %}
        {% if listen_v6 %}
        listen-on-v6 port {{ designate_bind_port }} { {{ listen_v6 | join('; ') }}; };
        {% else %}
        listen-on-v6 { none; };
        {% endif %}
        directory       "/var/lib/named";
        allow-new-zones yes;
        dnssec-validation {{ designate_dnssec_validation }};
        auth-nxdomain no;
        request-ixfr no;
        recursion {{ designate_recursion }};
        {% if designate_forwarders_addresses %}
        forwarders { {{ designate_forwarders_addresses }}; };
        {% endif %}
        minimal-responses yes;
        allow-notify { {% for host in groups['designate-worker'] %}{{ 'api' | kolla_address(host) }};{% endfor %} };
};

controls {
        inet {{ 'api' | kolla_address }} port {{ designate_rndc_port }} allow { {% for host in groups['designate-worker'] %}{{ 'api' | kolla_address(host) }}; {% endfor %} } keys { "rndc-key"; };
};
