{
    "command": "opflex_agent --watch --config {{ opflex_agent_ovs_config_dir }} --log /var/log/kolla/opflex/opflex-agent-ovs.log",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/opflex-agent-ovs.conf",
            "dest": "{{ opflex_agent_ovs_config_dir }}/10-opflex-agent-ovs.conf",
            "owner": "opflex",
            "perm": "0600"
        }
    ],
    "directories": [
        {
            "path": "/var/log/kolla/opflex",
            "owner": "opflex:opflex",
            "perm": "0755",
            "recurse": true
        },
        {
            "path": "{{ opflex_agent_ovs_state_dir }}",
            "owner": "opflex:opflex",
            "perm": "0755",
            "recurse": true
        },
        {
            "path": "{{ opflex_agent_ovs_inspector_socket | dirname }}",
            "owner": "opflex:opflex",
            "perm": "0755",
            "recurse": false
        }
    ]
}
