{
    "command": "mcast_daemon --watch {{ opflex_agent_ovs_state_dir }}/mcast/ --log /var/log/kolla/opflex/opflex-mcast-daemon.log --level {{ opflex_agent_ovs_log_level }}",
    "config_files": [],
    "permissions": [
        {
            "path": "/var/log/kolla/opflex",
            "owner": "opflex:opflex",
            "recurse": true
        },
        {
            "path": "{{ opflex_agent_ovs_state_dir }}/mcast",
            "owner": "opflex:opflex",
            "recurse": true
        }
    ]
}
